/* Gaya umum */
body.dark {
  background-color: #1a202c; /* Background dark mode */
  color: #cbd5e0; /* Text color dark mode */
}

.App.dark {
  background-color: #1a202c; /* Background untuk dark mode */
  color: #cbd5e0; /* Text color untuk dark mode */
}

/* Gaya khusus untuk elemen-elemen lain yang memerlukan penyesuaian */
.dark .contact-card {
  background-color: #2d3748; /* Background kartu kontak dark mode */
  color: #cbd5e0; /* Text color kartu kontak dark mode */
}

.dark .form-input {
  background-color: #2d3748; /* Background form input dark mode */
  color: #cbd5e0; /* Text color form input dark mode */
}

.dark .form-input input[type="text"],
.dark .form-input input[type="email"] {
  background-color: #4a5568; /* Background input dark mode */
  color: #cbd5e0; /* Text color input dark mode */
  border-color: #2d3748; /* Border color input dark mode */
}

/* Tambahkan penyesuaian gaya lainnya sesuai kebutuhan aplikasi Anda */
